@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* background-color: black; */

}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
}

.input {
  width: 90%;
  height: 64px;
  border: 1px solid white;
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 25px;
  color: #828282;
  background-color: transparent;
  margin-bottom: 30px;
  color: white;
}

.form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.but {
  width: 254px;
  height: 64px;
  margin-top: 50px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #001b1c;
  background: white;
  border: none;
}

.white {
  color: white;
  margin-bottom: 50px;
}

.background {
  /* background-image: url("https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png"); */

  /* background-image: "bg-gradient-to-r from-cyan-500 to-blue-500"; */
  width: 100%;
  position: absolute;
  min-height: 100%;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px inset;
  transition-property: background-image;
  transition-duration: 180ms;
  transition-timing-function: ease-in-out;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.button-transition {
  /* Other styles */
  transition: background-color 0.3s ease-in-out;
}


/* Markdown styles */
.markdown > ul {
  list-style: disc;
  margin-bottom: 5px;
}

.markdown > ul > li {
  margin-left: 10px;
}

.markdown > ul > li > ul {
  list-style: circle;
  margin-left: 10px;
}

.markdown > ul > p {
  margin-left: 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#one-cc-loader {
  position: relative !important;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.ck-editor__editable_inline {
  min-height: 180px;
}

.ck-content > ul {
  list-style-type: disc !important;
  margin-left: 15px;
}

.ck-content > ol {
  list-style-type: decimal !important;
  margin-left: 15px;
}

.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

/* SPLIT.JS STYLES */

.gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}
